<!DOCTYPE html>
<html lang="be">
  <head>
    <meta charset="utf-8">
    <title>Go па прыкладах: не знойдзена</title>
    <link rel=stylesheet href="../site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go па прыкладах</a></h2>
      <p>Ой ёй, тут нічога! Павяртайся на <a href="./">пачатковую старонку</a>?</p>
{{ template "footer" }}
    </div>
  </body>
</html>
