{{define "footer"}}
    <p class="footer">
      ад <a href="https://markmcgranaghan.com">Марк МакГранаган</a>
      і <a href="https://eli.thegreenplace.net">Элі Бендэрскі</a>
      | <a href="https://github.com/mmcgrana/gobyexample">код</a>
      | <a href="https://github.com/mmcgrana/gobyexample#license">ліцэнзія</a><br />
      Мова <a href="#" onclick="switchLanguage('be')">BE</a> | <a href="#" onclick="switchLanguage('en')">EN</a> | <a href="#" onclick="switchLanguage('it')">IT</a>
    </p>
    <script src="../site.js" async></script>
{{end}}
