<!DOCTYPE html>
<html lang="be">
  <head>
    <meta charset="utf-8">
    <title>Go па прыкладах</title>
    <link rel=stylesheet href="../site.css">
  </head>
  <body>
    <article id="intro">
      <h2><a href="./">Go па прыкладах</a></h2>
      <p>
        <a href="https://go.dev">Go</a> — гэта мова праграмавання з адкрытым
        зыходным кодам, прызначаная для стварэння маштабуемага, бяспечнага і
        надзейнага праграмнага забеспячэння. Калі ласка, прачытайце
        <a href="https://go.dev/doc/tutorial/getting-started">афіцыйную дакументацыю</a>,
        каб даведацца больш.
      </p>

      <p>
        <em>Go by Example</em> — гэта практычнае ўвядзенне ў Go з выкарыстаннем анатаваных прыкладаў праграм.
        Азнаёмцеся з <a href="hello-world.html">першым прыкладам</a> або праглядзіце поўны спіс ніжэй.
      </p>

      <p>
        Калі не пазначана іншага, прыклады тут прыведзеныя зыходзячы з таго, што выкарыстоўваецца <a href="https://go.dev/doc/devel/release">апошняя асноўная версія Go</a>
        і могуць выкарыстоўвацца новыя моўныя функцыі.
        Паспрабуйце абнавіцца да апошняй версіі, калі нешта не працуе.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.FileName}}">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </article>
  </body>
</html>
