<!DOCTYPE html>
<html lang="it">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-eqiv="content-type" content="text/html;charset=utf-8">
    <title>Go by Example - IT: 404 Not Found</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example - IT</a></h2>
      <p>Spiacente :( Quello che cerchi non lo abbiamo. Vuoi tornare alla <a href="./">home page</a>?</p>
      {{ template "footer" }}
    </div>
  </body>
</html>
