<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>Go by Example - IT</title>
    <link rel=stylesheet href="site.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  </head>
  <body>
    <div id="intro">
      {{.}}
      {{ template "footer" }}
    </div>
  </body>
</html>
