<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>Go by Example - IT</title>
    <link rel=stylesheet href="site.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YS5D7DR8P1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YS5D7DR8P1');
    </script>
  </head>
  <body>
    <div id="intro">
      {{.}}
      {{ template "footer" }}
    </div>
  </body>
</html>
