<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Go by Example</title>
    <link rel=stylesheet href="site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <article id="intro">
{{.}}
{{ template "footer" }}
    </article>
  </body>
</html>
